.exhibition-content {
    width: 70%;
    height: 100%;
    border-radius: 1em;
    border: none;
}

#live-chat {
    width: 30%;
    margin-left: 2%;
    border-radius: 1em;
    background: rgba(0, 0, 0, 0.3);
}

#live-chat-title {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 1em 1em 0 0;
    width: 100%;
    height: 15%;
}

#live-chat-title div {
    width: 40%;
}

#live-chat-title #online-users {
    width: 40%;
    font-size: 0.7em;
    color: #555;
}

#live-chat-posts {
    overflow-y: auto;
    height: 70%;
}

.user-post {
    display: flex;
    margin: 5%;
}

.user-pic {
    width:3em;
    height:3em;
    object-fit:cover;
    border-radius: 100%;
}