html, body {
    margin: 0;
}

body {
    background: linear-gradient(45deg, #140E56, #140E56, #0F1828, #3E002B, #3E002B);
    background-size: cover;

    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: column;

    margin: 3%;
    width: 90%;
    height: 40em;

    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(20px);

    border-radius: 1em;
}

#head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 15%;
    width: 100%;
}

#head-content-left {
    display: flex;
    flex-direction: row;
    width: 48%;
}

#head-content-right {
    display: flex;
    flex-direction: row-reverse;
    width: 48%;
}