html, body {
    margin: 0;
}

body {
    background: url('../media/img/background.jpg');
    background-size: cover;

    display: flex;
    justify-content: center;
}

#main-container {
    display: inline-block;
    flex-direction: row;

    margin: 3%;
    width: 90%;
    height: 40em;

    background-color: rgba(0,0,0,0.5);
    backdrop-filter: blur(20px);

    border-radius: 1em;
}