html, body {
    color: #fff;
    margin: 0;
    font-family: 'Varela Round', sans-serif;
}

body {
    background: linear-gradient(45deg, #0E2C54, #0E2C54, #0F1828, #3E002B, #3E002B);
    background-size: 100%;
    background-attachment: fixed;


    display: flex;
    justify-content: center;
}

#main-container {
    display: flex;
    flex-direction: column;

    margin-top: 2%;
    margin-inline: 3%;
    width: 90%;
    height: 35em;

    background-color: rgba(0,0,0,0.3);
    backdrop-filter: blur(13em);

    border-radius: 1em;
}

#head-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    height: 15%;
    width: 100%;
}

#head-content-left {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 45%;
}

#head-content-right {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    width: 45%;
}