@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#main-logo {
    padding-right: 5%;
    pointer-events: none;
}

.title-object {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.6em;
    color: #fff;
}

#search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #26243A;

    width: 25em;
    height: 2.5em;

    margin-left: 4%;
    padding-inline: 1%;

    border-radius: 0.7em;
    border: none;
}

#search-box input {
    background: inherit;
    border: none;

    font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
    color: #fff;

    width: 90%;
    height: 90%;
}

#search-box input:focus {
    outline:0;
}

#search-box img {
    cursor: pointer;
}

.nav-bar-icon {
    transition: 0.2s;

    cursor: pointer;

    width: 2.2em;
    object-fit:cover;

    margin-left: 1%;

    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
}

.nav-bar-icon:hover {
    transform: scale(1.1);
}

.nav-bar-icon:active {
    transform: scale(0.9);
}

#center-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#side-nav {
    color: #fff;
    width: 20%;
}

#center-content {
    width: 70%;
}



