@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#main-logo {
    padding-inline: 2%;
    pointer-events: none;
}

.title-object {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.6em;
    color: #fff;
}

#search-box {
    margin-left: 5%;
    padding-inline: 1%;
    background: #26243A;

    border-radius: 0.7em;
    border: none;

    width: 25em;
    height: 2em;

    font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
    color: #fff;
}

#search-box img {
    float: right;
}