@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');

#main-logo {
    padding-inline: 2%;
    pointer-events: none;
}

.title-object {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.6em;
    color: #fff;
}

#search-box {
    background: #26243A;

    border-radius: 1em;
    border: none;

    width: 5em;
    height: 2em;
}