@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

#main-logo {
    padding-right: 5%;
    pointer-events: none;
}

.title-object {
    font-family: 'MuseoModerno', cursive;
    font-size: 1.6em;
    color: #fff;
}

#search-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #26243A;

    width: 25em;
    height: 2.5em;

    margin-left: 4%;
    padding-inline: 1%;

    border-radius: 0.7em;
    border: none;
}

#search-box input {
    background: inherit;
    border: none;

    font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
    color: #fff;

    width: 90%;
    height: 90%;
}

#search-box input:focus {
    outline:0;
}

.nav-bar-icon {
    width: 2em;
    object-fit:cover;

    image-rendering: optimizeSpeed;
    image-rendering: -webkit-optimize-contrast;
}